#
# Imports
#

# Import Aspect recommended Bazel convenience settings for all projects
import %workspace%/.dev/aspect/bazelrc/convenience.bazelrc

# Import Aspect recommended Bazel correctness settings for all projects
import %workspace%/.dev/aspect/bazelrc/correctness.bazelrc

# Import Aspect recommended Bazel performance settings for all projects
import %workspace%/.dev/aspect/bazelrc/performance.bazelrc

# Import Aspect recommended Bazel debug settings for all projects
import %workspace%/.dev/aspect/bazelrc/debug.bazelrc

# Import Aspect recommended Bazel javascript settings for all projects
import %workspace%/.dev/aspect/bazelrc/javascript.bazelrc

# Import Aspect recommended Bazel 6 settings for all projects
import %workspace%/.dev/aspect/bazelrc/bazel6.bazelrc

# Setup remote and local cache settings
import %workspace%/.dev/aspect/bazelrc/cache.bazelrc

#
# Platforms & Languages
#

import %workspace%/.dev/aspect/bazelrc/linux.bazelrc
import %workspace%/.dev/aspect/bazelrc/darwin.bazelrc
import %workspace%/.dev/aspect/bazelrc/windows.bazelrc

import %workspace%/.dev/aspect/bazelrc/java.bazelrc
import %workspace%/.dev/aspect/bazelrc/rust.bazelrc

#
# Configuration
#

# Turn on the bzlmod feature in Bazel, before 6.0 final it's experimental
common --enable_bzlmod
common --enable_platform_specific_config

# Compatibility
build --incompatible_disallow_empty_glob=true
build --incompatible_use_platforms_repo_for_constraints
build --nolegacy_external_runfiles

# Testing & Coverage
coverage --combined_report=lcov
coverage --experimental_fetch_all_coverage_outputs

# Load any settings & overrides specific to the current user from `.aspect/bazelrc/user.bazelrc`.
# This file should appear in `.gitignore` so that settings are not shared with team members. This
# should be last statement in this config so the user configuration is able to overwrite flags from
# this file. See https://bazel.build/configure/best-practices#bazelrc-file.
try-import %workspace%/user.bazelrc

