root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,py,kt,java,css,ts}]
charset = utf-8
indent_style = space
indent_size = 2

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

[*.{kt,kts}]
disabled_rules = indent,experimental:argument-list-wrapping,no-wildcard-imports

[tools/plugin/gradle-plugin/plugin-build/plugin/src/model/**/*.*]
disabled_rules = indent,experimental:spacing-between-declarations-with-annotations,parameter-list-wrapping,no-wildcard-imports,experimental:spacing-between-declarations-with-comments,experimental:argument-list-wrapping,comment-spacing,no-semi,no-consecutive-blank-lines,no-blank-line-before-rbrace,curly-spacing
