.DS_Store
.idea/
!tools/conventions/src/main/kotlin/dev/elide/build
build/
out/
packages/*/out
packages/*/build
.gradle/
buildSrc/.gradle/
.buildstate.tar.gz
local.properties
node_modules/
.yarn/cache
.yarn/install-state.gz
docs/reports/project/properties.txt
tools/plugin/gradle-plugin/kotlin-js-store/yarn.lock
gradle-log.txt
server_log.txt
server_pid.txt
site.tar.gz
tmp
app-glibc
app-musl
