.venv/
.DS_Store
TODO.md
.dev/cache
.dev/dependencies
.dev/coverage
.dev/artifacts
*/.dev/artifacts
*/.dev/coverage
*/.dev/dependencies
*/.dev/cache
!.dev/elide.lock*
.idea/
!tools/conventions/src/main/kotlin/dev/elide/build
build/
out/
packages/*/out
packages/*/build
.gradle/
buildSrc/.gradle/
.buildstate.tar.gz
local.properties
node_modules/
.yarn/cache
.yarn/install-state.gz
docs/reports/project/properties.txt
tools/plugin/gradle-plugin/kotlin-js-store/yarn.lock
gradle-log.txt
server_log.txt
server_pid.txt
site.tar.gz
tmp
app-glibc
app-musl
tmpdocs/
test-results-native/
.codebase/cache
.codebase/build-cache
.codebase/shared-indexes
.kotlin/
.qodana/
.pnp*
packages/graalvm/test.mjs
*.pyc
*.pyo
.codebase/
docs/reports/
target
kotlin-js-store/
tools/images/bench/elide-edge.tgz
/.graalvm-home
/.java-home
/third_party/oracle/graaljs
*.profraw
tools/hakuna/dist
coverage-error.log
blink.log
project/docs/apidocs
packages/cli/README.md.br
README.md.br
node_modules
.intellijPlatform/
cosign.key

# External submodule build artifacts
external/ktoml/build/
external/ktoml/.gradle/
external/ktoml/kotlin-js-store/
