*.proto linguist-language=Protocol-Buffer linguist-detectable
*.soy linguist-language=Closure-Templates linguist-detectable
*.ts linguist-language=TypeScript linguist-detectable
*.build linguist-language=Starlark -linguist-detectable
*.owl linguist-language=Web-Ontology-Language
*.BUILD -linguist-detectable
*.bzl linguist-language=Starlark linguist-detectable
**/package-info.java -linguist-detectable linguist-generated
samples/** -linguist-detectable
packages/graalvm/src/test/resources/embedded/** -linguist-detectable linguist-generated
packages/graalvm/src/test/resources/embedded/*.js -linguist-detectable linguist-generated
packages/graalvm-react/src/main/node/** -linguist-detectable linguist-generated
packages/graalvm-react/src/main/node/*.js -linguist-detectable linguist-generated
docs/* linguist-documentation
tools/plugin/gradle-plugin/plugin-build/plugin/src/model/java -linguist-detectable linguist-generated
tools/plugin/gradle-plugin/plugin-build/plugin/src/model/kotlin -linguist-detectable linguist-generated
tools/plugin/gradle-plugin/plugin-build/plugin/src/main/proto -linguist-detectable linguist-generated
