[submodule "runtime"]
	path = runtime
	url = https://github.com/elide-dev/runtime.git
	branch = main
	shallow = true
	active = false
[submodule "sqlite"]
	path = third_party/sqlite
	url = git@github.com:sqlite/sqlite.git
	shallow = true
	ignore = dirty
