README.md
build
coverage
docs
kotlin-js-store
.run
module.md
*/module.md
.idea
.gradle
.github/workflows
proto
proto/buf.pb.json
buildSrc
benchmarks
tools/plugin
packages/uuid
*.gradle.kts
*.hbs
config/detekt/
config/diktat/
*.lockfile
*.lock
pnpm-lock.yaml
qodana.sarif.json
runtime/
samples/
packages/*/src/*/resources/META-INF/native-image/*.json
packages/*/src/*/resources/META-INF/native-image/dev/elide/*/*.json
packages/*/src/*/resources/META-INF/native-image/dev.elide/*/*.json
packages/graalvm/src/main/resources/META-INF/native-image/dev.elide/graalvm/native-image.properties
tools/esbuild/src/main/resources/META-INF/elide/embedded/tools/esbuild/
reflect-config.json
jni-config.json
proxy-config.json
resource-config.json
serialization-config.json
packages/*/src/test/resources
creative/logo/
creative/
gradle/*.xml
gradlew
gradle-wrapper.jar
*.jar
.husky
.codebase
.kotlin
.qodana
detekt-baseline.xml
tools/images/*/Dockerfile
tools/umbrella
third_party
