build
coverage
docs
kotlin-js-store
.idea
.gradle
proto
proto/buf.pb.json
buildSrc
benchmarks
tools/plugin
packages/uuid
*.gradle.kts
*.hbs
config/detekt/
config/diktat/
*.lockfile
*.lock
pnpm-lock.yaml
qodana.sarif.json
runtime/
samples/
packages/*/src/*/resources/META-INF/native-image/*.json
packages/*/src/*/resources/META-INF/native-image/dev/elide/*/*.json
packages/*/src/*/resources/META-INF/native-image/dev.elide/*/*.json
reflect-config.json
jni-config.json
proxy-config.json
resource-config.json
serialization-config.json
packages/*/src/test/resources
