#
# Copyright (c) 2024 Elide Technologies, Inc.
#
# Licensed under the MIT license (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
# https://opensource.org/license/mit/
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
# an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under the License.
#

# Nightly:
# cargo-features = ["metabuild", "edition2024", "profile-rustflags", "codegen-backend"]

[workspace]
resolver = "2"
members = ["crates/*", "tools/umbrella"]
exclude = ["crates/build", "third_party", "runtime"]

[workspace.package]
license = "MIT"

[profile.dev]
opt-level = 3
lto = true
strip = false
debug = true
incremental = false
codegen-units = 1
split-debuginfo = "unpacked"

[profile.release]
opt-level = 3
lto = true
strip = false
debug = true
incremental = false
codegen-units = 1
split-debuginfo = "unpacked"

[profile.dev.package.builder]
opt-level = 3
incremental = false
codegen-units = 1
overflow-checks = false
split-debuginfo = "unpacked"

[patch.crates-io]
## Version Pins / Overrides
async-std = { git = "https://github.com/elide-tools/async-std", rev = "33f56cce1777319a2c64cac35660f7991262d00c" }
ssri = { git = "https://github.com/elide-tools/ssri-rs", rev = "57b5790f8d114f5b31a716a81dee6f37c0f96c3e" }
jni = { git = "https://github.com/elide-tools/jni-rs", rev = "b8ec9b0c717833a640de835ab1d91577bfbd6300" }

[patch."https://github.com/astral-sh/pubgrub"]
pubgrub = { git = "https://github.com/elide-tools/pubgrub", rev = "83c0b986493bfabe318c4f8797d5e6b086848977" }

[workspace.dependencies]
## Local
base = { path = "crates/base" }
builder = { path = "crates/builder" }
deps = { path = "crates/deps" }
entry = { path = "crates/entry" }
model = { path = "crates/model" }
posix = { path = "crates/posix" }
project = { path = "crates/project" }
protocol = { path = "crates/protocol" }
sqlite = { path = "crates/sqlite" }
substrate = { path = "crates/substrate" }
terminal = { path = "crates/terminal" }
transport = { path = "crates/transport" }

## Dependencies
anyhow = { version = "1.0.80" }
arbitrary = { version = "1", features = ["derive"] }
argfile = { version = "0.2.0" }
base64 = { version = "0.22.1", default-features = false, features = ["alloc"] }
base64-simd = { version = "0.8.0" }
bindgen = { version = "0.71.1" }
boring = { version = "4.7.0" }
build_const = { version = "0.2.2", default-features = false }
bytes = { version = "1.6.0" }
bytemuck = { version = "1.16.1", features = [
  "derive",
  "extern_crate_std",
  "nightly_stdsimd",
  "nightly_float",
  "nightly_portable_simd",
  "aarch64_simd",
] }
cc = { version = "1.0.104", features = ["parallel"] }
clap = { version = "4.5.3", features = ["derive"] }
colored = { version = "3.0.0" }
console-subscriber = { version = "0.4.1" }
const_fn = { version = "0.4" }
const_format = { version = "0.2.32" }
const-crc32-nostd = { version = "1.3.1" }
const_panic = { version = "0.2.8" }
crc32fast = { version = "1.4.2", default-features = false, features = ["nightly"] }
crc64fast = { version = "1.1.0", features = ["pmull"] }
futures = { version = "0.3.24", default-features = false }
heapless = { version = "0.8.0", features = ["portable-atomic"] }
java_native = { git = "https://github.com/elide-tools/jni-macros", rev = "7dc95cc2d7534761d0b16899dcda9e7729bdb89d" }
jni = { version = "0.21.1", default-features = false, features = [] }
jni-sys = { version = "0.4.0" }
jni-utils = { version = "0.1.1" }
lazy_static = { version = "1.5.0" }
libabort = { version = "0.1.8", features = ["libc"] }
libloading = { version = "0.8.4" }
libsqlite3-sys = { version = "0.29.0", default-features = false, features = ["loadable_extension", "openssl-sys"] }
maven-toolbox = { version = "0.0.3" }
miette = { version = "7.4.0", features = ["fancy"] }
mimalloc = { version = "0.1.43" }
mvn = { version = "0.2.0" }
orogene = { git = "https://github.com/elide-dev/orogene", rev = "cbcf969348267ee30452606b152a40edcaf049c4" }
panic-abort = { version = "0.3.2" }
panic-halt = { version = "0.2.0" }
pkg-config = { version = "0.3.30" }
portable-atomic = { version = "1", default-features = false }
powerfmt = { version = "0.2.0", default-features = false }
prost = { version = "0.13.1" }
prost-build = { version = "0.13.1" }
prost-types = { version = "0.13.1" }
pubgrub = { version = "0.2.1" }
purl = { version = "0.1.3" }
rkyv = { version = "0.8.10", default-features = false }
rusqlite = { version = "0.31.0", default-features = false }
rustc_version = { version = "0.4.0" }
sccache = { version = "0.8.1", default-features = false, features = ["dist-client", "gha", "redis", "s3"] }
semver = { version = "1.0.23" }
sentry = { version = "0.34.0" }
serde = { version = "1.0.203", default-features = false }
simdutf = { version = "0.6.0" }
smartstring = { version = "1.0.1", default-features = false }
sysinfo = { version = "0.33.1" }
tikv-jemallocator = { version = "0.6.0", default-features = false, features = ["disable_initial_exec_tls"] }
tokio = { version = "1", default-features = false, features = [
  "fs",
  "io-util",
  "io-std",
  "macros",
  "process",
  "rt-multi-thread",
  "sync",
  "signal",
  "signal-hook-registry",
  "tracing",
] }
tokio-uring = { version = "0.5.0" }
toml = { version = "0.8.14", default-features = false }
toml_edit = { version = "0.22.15" }
trauma = { version = "2.2.5" }
typeshare = { version = "1.0.3" }
uuid = { version = "1.10.0", default-features = false, features = [
  "arbitrary",
  "fast-rng",
  "serde",
  "v4",
  "v7",
  "v8",
  "zerocopy",
] }
vcpkg = { version = "0.2.15" }
wild = { version = "2" }

## Biome
biome_console = "0.5.7"
biome_css_formatter = "0.5.7"
biome_diagnostics = "0.5.7"
biome_diagnostics_categories = "0.5.7"
biome_diagnostics_macros = "0.5.7"
biome_formatter = "0.5.7"
biome_js_formatter = "0.5.7"
biome_json_formatter = "0.5.7"
biome_markup = "0.5.7"
biome_suppression = "0.5.7"
biome_unicode_table = "0.5.7"

## Oxc
oxc = { git = "https://github.com/elide-dev/oxc", rev = "fb5b1fa0156e501eea17002178e54296f5964ba8", default-features = false, features = [
  #
] }

## Uv
uv = { git = "https://github.com/elide-dev/uv", rev = "daa5270203156f150c8407e5256827a366656107" }

## Ruff
ruff = { git = "https://github.com/elide-dev/ruff", rev = "9f065f4a340089406eefbb2dde21f8f9e31f8515" }
