#
# Copyright (c) 2024 Elide Technologies, Inc.
#
# Licensed under the MIT license (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
# https://opensource.org/license/mit/
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
# an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under the License.
#

# Nightly:
# cargo-features = ["metabuild", "profile-rustflags", "codegen-backend"]

[workspace]
resolver = "2"
members = ["crates/*", "tools/umbrella"]
exclude = ["crates/build", "third_party", "runtime"]

[workspace.package]
license = "MIT"

[profile.dev]
opt-level = 0
lto = false
strip = false
debug = true
incremental = true

[profile.release]
opt-level = "s"
lto = true
strip = "debuginfo"
debug = false
incremental = false
codegen-units = 1

[profile.dev.package.builder]
opt-level = 3
debug = true
incremental = true
overflow-checks = false

[patch.crates-io]
## Version Pins / Overrides
async-std = { git = "https://github.com/elide-tools/async-std", rev = "33f56cce1777319a2c64cac35660f7991262d00c" }
ssri = { git = "https://github.com/elide-tools/ssri-rs", rev = "57b5790f8d114f5b31a716a81dee6f37c0f96c3e" }
jni = { git = "https://github.com/elide-tools/jni-rs", rev = "52526ede7ff165632bfd44259a10d0ac77d60e96" }

[workspace.dependencies]
## Local
base = { path = "crates/base" }
builder = { path = "crates/builder" }
diag = { path = "crates/diag" }
entry = { path = "crates/entry" }
model = { path = "crates/model" }
posix = { path = "crates/posix" }
js = { path = "crates/js" }
terminal = { path = "crates/terminal" }
transport = { path = "crates/transport" }

## Dependencies
anyhow = { version = "1.0.96" }
base64 = { version = "0.22.1", default-features = false, features = ["alloc"] }
base64-simd = { version = "0.8.0" }
bindgen = { version = "0.71.1" }
build_const = { version = "0.2.2", default-features = false }
bumpalo = { version = "3.17.0" }
cc = { version = "1.2.15", features = ["parallel"] }
clap = { version = "4.5.30", features = ["derive"] }
console-subscriber = { version = "0.4.1" }
crc32fast = { version = "1.4.2", default-features = false, features = ["nightly"] }
crc64fast = { version = "1.1.0", features = ["pmull"] }
java_native = { git = "https://github.com/elide-tools/jni-macros", rev = "7dc95cc2d7534761d0b16899dcda9e7729bdb89d" }
jni = { version = "0.21.1", default-features = false, features = [] }
jni-sys = { version = "0.4.0" }
miette = { version = "7.5.0", features = ["fancy"] }
mimalloc = { version = "0.1.43" }
orogene = { git = "https://github.com/elide-dev/orogene", rev = "3ed9695aa90db6accd9c62841f5ddb306a8138f3" }
rustc_version = { version = "0.4.1" }
rustix = { version = "0.38.44", features = ["process"] }
serde = { version = "1.0.218", default-features = false }
smartstring = { version = "1.0.1", default-features = false }
sysinfo = { version = "0.33.1" }
tikv-jemallocator = { version = "0.6.0", default-features = false, features = ["disable_initial_exec_tls"] }
tokio = { version = "1", default-features = false, features = [
  "fs",
  "io-util",
  "io-std",
  "macros",
  "process",
  "rt-multi-thread",
  "sync",
  "signal",
  "signal-hook-registry",
  "tracing",
] }

toml = { version = "0.8.20", default-features = false }
typeshare = { version = "1.0.4" }

## Oxc
oxc = { git = "https://github.com/elide-dev/oxc", rev = "c79fc2cc3a61add19468ed2e3bdebb1e171538fa", default-features = false, features = [
  "full",
  "isolated_declarations",
  "mangler",
  "minifier",
] }

## Uv
uv = { git = "https://github.com/elide-dev/uv", rev = "c65dae64fec2545d92fd6a8f50c467dfc5efe06e" }

## Ruff
ruff = { git = "https://github.com/elide-dev/ruff", rev = "cf83584abb130574059064ad5f0dd806c22e45d5" }
