root = true

[*]
charset = utf-8
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*{.yml,yaml}]
indent_style = space
indent_size = 2

[*.{kt,kts}]
disabled_rules = indent,experimental:argument-list-wrapping,no-wildcard-imports

[plugin-build/plugin/src/model/**/*.*]
disabled_rules = indent,experimental:spacing-between-declarations-with-annotations,parameter-list-wrapping,no-wildcard-imports,experimental:spacing-between-declarations-with-comments,experimental:argument-list-wrapping,comment-spacing,no-semi,no-consecutive-blank-lines,no-blank-line-before-rbrace,curly-spacing
