@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), local("Twemoji Mozilla"),
    local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji"),
    local("EmojiOne Color"), local("Android Emoji");
}

html {
  --elide-color-primary: #5a00ff;
  --elide-color-primary-desaturated: rgba(245, 245, 245, 1);
  --elide-color-secondary: #9b09ab;
  --elide-color-secondary-desaturated: rgba(240, 240, 240, 1);
  --elide-color-primary-alt: #199fda;
  --elide-color-secondary-alt: #73c167;
  --elide-color-primary-alt-desaturated: #000;
  --elide-color-secondary-alt-desaturated: #000;
  --elide-gradient-angle: 225deg;
  --elide-black: #111;
  --elide-black-soft: #222;
  --elide-white: #f5f5f5;
  --elide-soft-white: #dedede;

  --elide-grays: linear-gradient(
    var(--elide-gradient-angle),
    var(--elide-color-primary-desaturated) 0%,
    var(--elide-color-secondary-desaturated) 100%
  );
  --elide-gradient: linear-gradient(
    var(--elide-gradient-angle),
    var(--elide-color-primary) 0%,
    var(--elide-color-secondary) 100%
  );
  --elide-gradient-reverse: linear-gradient(
    var(--elide-gradient-angle),
    var(--elide-color-secondary) 0%,
    var(--elide-color-primary) 100%
  );
  --elide-gradient-alt: linear-gradient(
    var(--elide-gradient-angle),
    var(--elide-color-primary-alt) 0%,
    var(--elide-color-secondary-alt) 100%
  );
  --elide-gradient-alt-reverse: linear-gradient(
    var(--elide-gradient-angle),
    var(--elide-color-secondary-alt) 0%,
    var(--elide-color-primary-alt) 100%
  );
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif, color-emoji;
}

/**
 * Commons
 */

.gradient {
  background-attachment: fixed;
  background: transparent;
  background-image: var(--elide-gradient) !important;
}

@media (prefers-color-scheme: dark) {
  .gradient-on-dark {
    background-attachment: fixed;
    background: transparent;
    background-image: var(--elide-gradient) !important;
  }

  .gradient-reverse-on-dark {
    background-attachment: fixed;
    background: transparent;
    background-image: var(--elide-gradient-reverse) !important;
  }

  .gradient-on-light {
    /* Nothing. */
  }
}

@media (prefers-color-scheme: light) {
  .gradient-on-dark {
    /* Nothing. */
  }

  .gradient-on-light {
    background-attachment: fixed;
    background: transparent;
    background-image: var(--elide-gradient) !important;
  }

  .gradient-reverse-on-light {
    background-attachment: fixed;
    background: transparent;
    background-image: var(--elide-gradient-reverse) !important;
  }
}

pre, .mono {
  font-family: "JetBrains Mono", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace !important;
}

.masthead-text {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, sans-serif, color-emoji !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elide-noselect {
  user-select: none;
}

.elide-titletext {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.elide-logotext {
  font-size: 2rem;
}

.elide-header__logo-box .elide-titletext {
  color: white;
  font-weight: 300;
}

.elide-brand-text {
  font-weight: 600;
  box-sizing: border-box;
  padding: 0;
  background: var(--elide-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

/**
 * Header
 */

.elide-header__box {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-grow: 1;
}

.elide-header__logo-box {
  display: flex;
  cursor: pointer;
}

.elide-header__logo-box img {
  margin-right: 22px;
}

.elide-header__logo-box h6 {
  color: #ededed;
}

.elide-header__prerelease {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}

.elide-site-page__header, .elide-site-page__header h2 {
  font-size: 2.5rem !important;
}

/**
 * Navigation (Sidebar)
 */

.elide-nav__text, .elide-nav-subnav__text {
  user-select: none;
  cursor: pointer;
  display: flex;
}

.elide-nav-subnav__text::before {
  content: '—';
  text-decoration: none;
  padding-right: 8px;
  user-select: none;
  cursor: pointer;
}

/**
 * Site Structure
 */

main#root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  inset: 0;
  background-attachment: fixed;
}

.elide-site-container {
  position: relative;
  width: 100%;
  height: 100%;
  inset: 0;
}

.elide-site-page {
  display: flex;
  flex-direction: column;
}

.elide-site-page.fullbleed {
  position: absolute;
  inset: 0;
}

.elide-site-page.narrative {
  padding: 3rem;
  height: 100%;
}

.elide-site-page.narrative header {
  user-select: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
}

/**
 * MDX
 */

.elide-mdx__wrapped-p {
  padding-top: 1em;
  padding-bottom: 1em;
}

/**
 * Blockquotes
 */

.elide-mdx__blockquote {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.elide-mdx__blockquote.elide-mdx__note p.elide-mdx__wrapped-p::before {
  content: 'Note:';
  margin-right: 3px;
  font-weight: bold;
}

.elide-mdx__note {
  margin: 10px 0;
  padding-left: 10px;
  border-radius: 5px;
}

.elide-mdx__icon-note {
  margin-right: 10px;
}

/**
 * Footer
 */

.elide-footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  left: 20px;
  bottom: 20px;
}
