name: Benchmark

on:
  push:
    branches:
      - stable
  pull_request:
    types: [opened, reopened, synchronize]

env:
  BUILDLESS_APIKEY: ${{ secrets.BUILDLESS_APIKEY }}

jobs:
  ##
  ## Job: Benchmarks
  ##

  bench:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        java: [20]
        engine: [graalvm]
        experimental: [false]
        include:
          - os: macos
            java: 20
            engine: graalvm
            experimental: false

    name: "JVM"
    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ matrix.experimental }}

    if: |
      (
        github.ref == 'refs/heads/stable' ||
        github.ref == 'refs/heads/v3' ||
        startsWith(github.ref, 'refs/tags/v') ||
        contains(github.event.pull_request.labels.*.name, 'ci:bench') ||
        contains(github.event.head_commit.message, 'ci:bench')
      )

    permissions:
      actions: "read"
      checks: "write"
      contents: "write"
      pull-requests: "write"

    defaults:
      run:
        shell: bash

    steps:
      - name: "Setup: Checkout"
        uses: actions/checkout@v3
      - name: "Setup: GraalVM"
        uses: graalvm/setup-graalvm@v1
        if: ${{ matrix.engine == 'graalvm' }}
        with:
          components: "native-image,js,wasm"
          distribution: 'graalvm'
          java-version: ${{ matrix.java }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Setup: Zulu"
        uses: actions/setup-java@v3
        if: ${{ matrix.engine != 'graalvm' }}
        with:
          distribution: ${{ matrix.engine }}
          java-version: ${{ matrix.java }}
      - name: "Setup: Node"
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"
      - name: "Setup: Yarn"
        run: yarn
      - name: "Run Benchmarks"
        uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
        id: gradlebench
        continue-on-error: ${{ matrix.experimental }}
        env:
          CI: true
          GRADLE_CACHE_PUSH: false
        with:
          cache-read-only: true
          arguments: |
            :benchmarks:server:benchmark
            --no-daemon
            --warning-mode=none
            --dependency-verification=lenient
            -Pelide.ci=true
            -PbuildBenchmarks=true
            -PbuildSamples=false
            -PbuildDocs=false
            -Pversions.java.language=${{ matrix.java }}
      - name: "Locate Benchmark Report"
        id: benchreport
        run: |
          echo "BENCHMARK_REPORT=$(find benchmarks/server/build/reports/benchmarks/main -name "*.json" | head -n 1)" >> $GITHUB_OUTPUT
      - name: "Restore Previous Benchmark"
        uses: actions/cache@58c146cc91c5b9e778e71775dfe9bf1442ad9a12 # v3
        with:
          path: ./benchmark_reports
          key: ${{ runner.os }}-${{ matrix.engine }}-${{ matrix.java }}-benchmark
      - name: "Upload Benchmark Report"
        uses: benchmark-action/github-action-benchmark@v1
        continue-on-error: true
        with:
          name: "Elide: Server (${{ matrix.os }}, ${{ matrix.engine }}, JDK ${{ matrix.java }})"
          tool: "jmh"
          auto-push: false
          external-data-json-path: benchmark_reports/benchmark-data.json
          comment-on-alert: true
          comment-always: ${{ !matrix.experimental }}
          output-file-path: ${{ steps.benchreport.outputs.BENCHMARK_REPORT }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-alert: ${{ !matrix.experimental }}
