#
# Copyright (c) 2024 Elide Technologies, Inc.
#
# Licensed under the MIT license (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
# https://opensource.org/license/mit/
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
# an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under the License.
#

name: Model

"on":
  workflow_dispatch:
    inputs:
      lint:
        description: "Lint"
        type: boolean
        required: false
        default: true
      breakcheck:
        description: "Break-check"
        type: boolean
        required: false
        default: true
      push:
        description: "Push"
        type: boolean
        required: false
        default: false
      ignore_breaking:
        description: "Ignore breaking"
        type: boolean
        required: false
        default: false

  workflow_call:
    inputs:
      lint:
        description: "Lint"
        type: boolean
        required: false
        default: true
      breakcheck:
        description: "Break-check"
        type: boolean
        required: false
        default: true
      push:
        description: "Push"
        type: boolean
        required: false
        default: false
      ignore_breaking:
        description: "Ignore breaking"
        type: boolean
        required: false
        default: false
    secrets:
      BUF_TOKEN:
        description: "Buf push token"
        required: false

permissions:
  contents: read

jobs:
  ##
  ## Job: Buf Lint
  ##
  buf-lint:
    name: "Protocol: Lint"
    runs-on: ubuntu-latest
    if: inputs.lint
    defaults:
      run:
        shell: bash
    permissions:
      contents: "read"
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            buf.build:443
            github.com:443
            objects.githubusercontent.com:443
      - name: "Setup: Checkout"
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: "Setup: Buf"
        uses: bufbuild/buf-setup-action@dde0b9351db90fbf78e345f41a57de8514bf1091 # v1.32.2
        with:
          github_token: ${{ github.token }}
      - name: "Check: Buf Lint"
        uses: bufbuild/buf-lint-action@06f9dd823d873146471cfaaf108a993fe00e5325 # v1.1.1
        with:
          input: proto

  ##
  ## Job: Buf Breaking
  ##
  buf-breaking:
    name: "Protocol: Break-check"
    runs-on: ubuntu-latest
    if: inputs.breakcheck
    defaults:
      run:
        shell: bash
    permissions:
      contents: "read"
    continue-on-error: ${{ contains(github.event.pull_request.labels.*.name, 'ci:buf-breaking-ignore') }}
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            buf.build:443
            github.com:443
            objects.githubusercontent.com:443
      - name: "Setup: Checkout"
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          persist-credentials: false
      - name: "Setup: Buf"
        uses: bufbuild/buf-setup-action@dde0b9351db90fbf78e345f41a57de8514bf1091 # v1.32.2
        with:
          github_token: ${{ github.token }}
      - name: "Check: Buf Breaking"
        uses: bufbuild/buf-breaking-action@c57b3d842a5c3f3b454756ef65305a50a587c5ba # v1.1.4
        continue-on-error: ${{ inputs.ignore_breaking }}
        with:
          against: https://github.com/elide-dev/elide.git#branch=main
          input: proto
