#
# Copyright (c) 2024 Elide Technologies, Inc.
#
# Licensed under the MIT license (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
# https://opensource.org/license/mit/
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
# an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under the License.
#

name: Formatting

"on":
  workflow_dispatch:
    inputs:
      ## Input: Artifact Name
      artifact:
        description: "Artifact"
        required: false
        type: string
        default: "elide-framework"

      ## Input: Ignore Failures
      ignore_failures:
        description: "Ignore failures"
        required: false
        type: boolean
        default: false

  workflow_call:
    inputs:
      artifact:
        description: "Artifact"
        required: false
        type: string
        default: "elide-framework"
      ignore_failures:
        description: "Ignore failures"
        required: false
        type: boolean
        default: false

    secrets:
      BUILDLESS_APIKEY:
        description: "Buildless API key"
        required: false
      GRADLE_CONFIGURATION_KEY:
        description: "Gradle cache key"
        required: false

permissions:
  contents: "read"

jobs:
  fmt-check:
    name: "Formatting"
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      contents: read
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit
          allowed-endpoints: >
            api.foojay.io:443
            api.github.com:443
            bun.sh:443
            dl.google.com:443
            dl.less.build:443
            download.oracle.com:443
            downloads.gradle.org:443
            elide-snapshots.storage-download.googleapis.com:443
            gha.elide.zip:443
            github.com:22
            github.com:443
            gradle.less.build:443
            gradle.pkg.st:443
            index.crates.io:443
            jcenter.bintray.com:443
            jitpack.io:443
            jpms.pkg.st:443
            keys.openpgp.org:443
            keyserver.ubuntu.com:443
            maven.elide.dev:443
            maven.pkg.jetbrains.space:443
            maven.pkg.st:443
            gradle.elide.dev:443
            nodejs.org:443
            objects.githubusercontent.com:443
            oss.sonatype.org:443
            pgp.mit.edu:443
            plugins-artifacts.gradle.org:443
            plugins.gradle.org:443
            raw.githubusercontent.com:443
            registry.npmjs.org:443
            repo.maven.apache.org:443
            scans-in.gradle.com:443
            services.gradle.org:443
            static.crates.io:443
            static.rust-lang.org:443
      - name: "Setup: Checkout"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: "Setup: PNPM"
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: "10.6.2"
      - name: "Setup: Node"
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 23
          package-manager-cache: false
      - name: "Setup: Bun"
        uses: step-security/setup-bun@81c6b5758214d7e8b68a403c6a55a040e9b8879a # v2.0.3
        with:
          bun-version: "1.2.14"
      - name: "Setup: GraalVM (Java 25)"
        uses: graalvm/setup-graalvm@eec48106e0bf45f2976c2ff0c3e22395cced8243 # v1.4.2
        with:
          distribution: "graalvm"
          java-version: "25"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Setup: Elide"
        uses: elide-dev/setup-elide@d91d5859c0722417ea1ac4c682382ac8a6622b80 # v3.0.0
        with:
          version: "1.0.0-beta10"
      - name: "Setup: Dependencies"
        run: pnpm install --no-lockfile --no-frozen-lockfile
      - name: "Setup: Rust"
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: stable
          components: clippy,rustfmt
          rustflags: "-Dwarnings"
          cache-key: "elide-rust-v1-{{ hashFiles('Cargo.lock') }}"
      - name: "Setup: Gradle"
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        continue-on-error: ${{ inputs.ignore_failures }}
        env:
          CI: true
          BUILDLESS_APIKEY: ${{ secrets.BUILDLESS_APIKEY }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          cache-read-only: false
          cache-encryption-key: ${{ secrets.GRADLE_CONFIGURATION_KEY }}
      - name: "Setup: Artifacts"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        continue-on-error: true
        with:
          merge-multiple: true
      - name: "Analysis: Formatting (Biome)"
        run: pnpm run fmt:check
      - name: "Analysis: Formatting (Cargo)"
        run: cargo fmt -- --check
      - name: "Analysis: Formatting (Spotless)"
        run: |
          ./gradlew \
            spotlessCheck \
            -x nativeCompile \
            -x nativeOptimizedCompile \
            -x :packages:graalvm:buildThirdPartyNatives \
            -x :packages:graalvm:buildRustNativesForHost \
            -x :packages:graalvm:natives \
            --no-configuration-cache \
            --stacktrace
