#
# Copyright (c) 2024 Elide Technologies, Inc.
#
# Licensed under the MIT license (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
# https://opensource.org/license/mit/
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
# an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under the License.
#

name: Sonar

"on":
  workflow_dispatch:
    inputs:
      ## Input: Artifact Name
      artifact:
        description: "Artifact"
        required: false
        type: string
        default: "elide-framework"

  workflow_call:
    inputs:
      artifact:
        description: "Artifact"
        required: false
        type: string
        default: "elide-framework"

    secrets:
      SONAR_TOKEN:
        description: "Sonar token"
        required: true
      BUILDLESS_APIKEY:
        description: "Buildless API key"
        required: false
      GRADLE_CONFIGURATION_KEY:
        description: "Gradle cache key"
        required: false

permissions:
  contents: "read"

jobs:
  sonar:
    name: "Sonar"
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      contents: read
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: "Setup: Cache Restore (Test)"
        id: cache-restore-test
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: elide-framework-v2-tests-${{ hashFiles('gradle/elide.versions.toml') }}
          path: |
            packages/*/test-results/
            packages/proto/*/test-results/
            tools/elide-build/test-results/
            packages/*/reports/
            packages/proto/*/reports/
            tools/elide-build/reports/
          restore-keys: |
            elide-framework-v2-tests-${{ hashFiles('gradle/elide.versions.toml') }}
            elide-framework-v2-tests-
      - name: "Setup: GraalVM (Java 25)"
        uses: graalvm/setup-graalvm@eec48106e0bf45f2976c2ff0c3e22395cced8243 # v1.4.2
        with:
          distribution: "graalvm"
          java-version: "25"
          check-for-updates: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Setup: Artifacts"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        continue-on-error: true
        with:
          merge-multiple: true
      - name: "Setup: Git History"
        run: git fetch --unshallow || exit 0
      - name: "Build: Verify Coverage"
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        continue-on-error: true
        env:
          CI: true
          BUILDLESS_APIKEY: ${{ secrets.BUILDLESS_APIKEY }}
        with:
          cache-read-only: true
          cache-encryption-key: ${{ secrets.GRADLE_CONFIGURATION_KEY }}
          arguments: |
            koverVerify
            koverXmlReport
            -x nativeCompile
            -x nativeOptimizedCompile
      - name: "Analysis: Sonar"
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        continue-on-error: true
        env:
          CI: true
          BUILDLESS_APIKEY: ${{ secrets.BUILDLESS_APIKEY }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          cache-read-only: true
          cache-encryption-key: ${{ secrets.GRADLE_CONFIGURATION_KEY }}
          arguments: |
            sonar
            -x nativeCompile
            -x nativeOptimizedCompile
