name: Qodana

"on":
  workflow_dispatch: {}
  workflow_call: {}

jobs:
  qodana:
    name: "Qodana"
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
      - name: "Setup: GraalVM (Java 21)"
        uses: graalvm/setup-graalvm@a1b47fdf04e772fed6b3b46131e226f9aea5e169 # v1
        with:
          distribution: "graalvm"
          java-version: 21
          check-for-updates: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Check: Qodana Scan"
        uses: JetBrains/qodana-action@9a71424636be05dccc139d34e7248de96fd15d9c # main
        continue-on-error: true
        timeout-minutes: 10
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
          BUILDLESS_APIKEY: ${{ secrets.BUILDLESS_APIKEY }}
      - name: "Report: SARIF Upload"
        uses: github/codeql-action/upload-sarif@e675ced7a7522a761fc9c8eb26682c8b27c42b2b # v3.24.1
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
