name: Claude Code

on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]
  issues:
    types: [opened, assigned]
  pull_request_review:
    types: [submitted]

permissions:
  contents: read

jobs:
  claude:
    name: "Claude"
    if: |
      (github.event.comment.author_association == 'OWNER' ||
      github.event.comment.author_association == 'MEMBER' ||
      github.event.comment.author_association == 'COLLABORATOR') &&
      (github.event_name == 'issue_comment' && contains(github.event.comment.body, '@claude')) ||
      (github.event_name == 'pull_request_review_comment' && contains(github.event.comment.body, '@claude')) ||
      (github.event_name == 'pull_request_review' && contains(github.event.review.body, '@claude')) ||
      (github.event_name == 'issues' && (contains(github.event.issue.body, '@claude') || contains(github.event.issue.title, '@claude')))
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      issues: read
      id-token: write
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 1
      - name: "Setup: GraalVM (Java 25)"
        uses: graalvm/setup-graalvm@790e28947b79a9c09c3391c0f18bf8d0f102ed69 # v1.4.4
        with:
          distribution: "graalvm"
          java-version: "25"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Setup: Node"
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 23
      - name: "Setup: Bun"
        uses: step-security/setup-bun@81c6b5758214d7e8b68a403c6a55a040e9b8879a # v2.0.3
        with:
          bun-version: "1.2.14"
      - name: "Setup: PNPM"
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: "10.6.2"
      - name: "Setup: Elide"
        uses: elide-dev/setup-elide@d91d5859c0722417ea1ac4c682382ac8a6622b80 # v3.0.0
        with:
          version: "1.0.0-beta10"
      - name: "Check: Anthropic API Key"
        run: |
          if [ -z "${{ secrets.ANTHROPIC_API_KEY }}" ]; then
            echo "ANTHROPIC_API_KEY secret is not set"
            exit 1
          fi
      - name: "Run: Claude"
        id: claude
        uses: anthropics/claude-code-action@7145c3e0510bcdbdd29f67cc4a8c1958f1acfa2f # beta
        with:
          anthropic_api_key: ${{ secrets.ANTHROPIC_API_KEY }}
          custom_instructions: |
            Consider the following facts about Elide:
            - Elide is a Node.js-like runtime (i.e. a binary on a user's machine)
            - Elide is powered by Oracle GraalVM and Native Image
            - Elide supports multiple interoperable langs: TypeScript, JS, Python, Kotlin, Java, and others
            - Elide is "batteries-included" with a package installer, builder, and test runner
            - Elide targets JVM and is written in Kotlin, Java, and Rust
            - Elide's native code (Rust and C libraries) is dispatched over JNI, usually
            - Kotlin and Java turn into JVM bytecode, which turns into native code via GraalVM Native Image

            Tools used by the project:
            - Cargo, Rust, Make
            - Gradle, Kotlin (K2), JVM
            - Oracle GraalVM at latest
          allowed_tools: |
            Bash(pnpm install)
            Bash(cargo check)
            Bash(cargo build --target=x86_64-unknown-linux-gnu)
            Bash(./gradlew build)
            Bash(./gradlew test)
            Bash(./gradlew check)
            Bash(./gradlew build test check)
            Bash(./gradlew -Pelide.abiValidate=true apiCheck)
