#
# Copyright (c) 2024 Elide Technologies, Inc.
#
# Licensed under the MIT license (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
# https://opensource.org/license/mit/
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
# an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under the License.
#

name: Deployment

"on":
  ## Deployment can be invoked from other workflows.
  workflow_call:
    inputs:
      ## Path to the app to deploy.
      path:
        description: "Path"
        required: true
        default: "samples/fullstack/react-ssr"
        type: string

      ## Environment to update with this deployment.
      environment:
        description: "Target"
        type: string
        required: true

      ## URL target for this deployment.
      url:
        description: "URL"
        type: string
        required: true

      ## Optional image tag to deploy. If not specified, the "latest" image will be deployed.
      image:
        description: "Image"
        type: string
        required: false

    secrets:
      FLY_API_TOKEN:
        required: true

  ## Deployment can be triggered manually.
  workflow_dispatch:
    inputs:
      path:
        description: "Site"
        required: true
        default: "samples/fullstack/react-ssr"
        type: choice
        options:
          - samples/fullstack/react-ssr
      environment:
        description: "Target"
        type: environment
        required: true
      url:
        description: "URL"
        type: string
        required: true
      image:
        description: "Image"
        type: string
        required: false

permissions:
  contents: read

concurrency:
  group: "deploy"
  cancel-in-progress: false

jobs:
  deployment:
    name: "Deploy (${{ inputs.environment }})"
    runs-on: "ubuntu-latest"
    environment: ${{ inputs.environment }}
    concurrency: "deploy-${{ inputs.environment }}"
    permissions:
      contents: "read"
      id-token: "write"
      checks: "write"
      pull-requests: "write"
      statuses: "write"
      deployments: "write"
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: "Setup: Fly"
        uses: superfly/flyctl-actions/setup-flyctl@fc53c09e1bc3be6f54706524e3b82c4f462f77be # master
      - name: "Deploy: Fly (${{ inputs.environment }})"
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: |
          cd ${{ inputs.path }} && flyctl deploy --remote-only ${{ inputs.image != '' && format('--image {0}', inputs.image) || '' }};
