name: "Copybara"

"on":
  workflow_dispatch: {}
  workflow_call: {}

jobs:
  copybara-protocol:
    name: "Job: Protocol"
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'push' && github.ref == 'refs/heads/v3') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/stable') ||
      (github.event_name == 'pull_request' && github.event.action == 'labeled' && github.event.label.name == 'migrate:protocol') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'migrate:protocol'))
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - name: "Setup: Checkout"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v3
      - name: "Migrate: Protocol"
        uses: sgammon/copybara-action@5669453d54072738035b0985cfe322d0ee5de0db
        with:
          git_name: Elidebot
          git_email: bot@elide.dev
          git_credentials: ${{ secrets.BOT_API_CREDS }}
          ssh_key: ${{ secrets.BOT_SSH_KEY }}
          ssh_known_hosts: ${{ secrets.BOT_KNOWN_HOSTS }}
          image: us-docker.pkg.dev/elide-fw/tools/copybara:latest
          invocation: "copybara"
          workflow: "protocol"
          options: "--init-history --ignore-noop"
          command: "migrate"
          path: "copy.bara.sky"
          ref: "${{ github.event.pull_request.head.sha }}"

  copybara-buildtools:
    name: "Job: Build Tools"
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'push' && github.ref == 'refs/heads/v3') ||
      (github.event_name == 'push' && github.ref == 'refs/heads/stable') ||
      (github.event_name == 'pull_request' && github.event.action == 'labeled' && github.event.label.name == 'migrate:buildtools') ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'migrate:buildtools'))
    steps:
      # Pull code.
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - name: "Setup: Checkout"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v3
      - name: "Migrate: Cluster"
        uses: sgammon/copybara-action@5669453d54072738035b0985cfe322d0ee5de0db
        with:
          git_name: Elidebot
          git_email: bot@elide.dev
          git_credentials: ${{ secrets.BOT_API_CREDS }}
          ssh_key: ${{ secrets.BOT_SSH_KEY }}
          ssh_known_hosts: ${{ secrets.BOT_KNOWN_HOSTS }}
          image: us-docker.pkg.dev/elide-fw/tools/copybara:latest
          invocation: "copybara"
          workflow: "buildtools"
          options: "--init-history --ignore-noop"
          command: "migrate"
          path: "copy.bara.sky"
          ref: "${{ github.event.pull_request.head.sha }}"
