#
# Copyright (c) 2024 Elide Technologies, Inc.
#
# Licensed under the MIT license (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
# https://opensource.org/license/mit/
#
# Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
# an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under the License.
#

name: Benchmark

"on":
  workflow_dispatch: {}
  workflow_call: {}

env:
  BUILDLESS_APIKEY: ${{ secrets.BUILDLESS_APIKEY }}

permissions:
  contents: read

jobs:
  ##
  ## Job: Benchmarks
  ##

  bench:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        java: [22]
        engine: [graalvm]
        experimental: [false]
        include:
          - os: macos
            java: 22
            engine: graalvm
            experimental: false

    name: "JVM"
    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ matrix.experimental }}

    if: |
      (
        github.ref == 'refs/heads/stable' ||
        github.ref == 'refs/heads/v3' ||
        startsWith(github.ref, 'refs/tags/v') ||
        contains(github.event.pull_request.labels.*.name, 'ci:bench') ||
        contains(github.event.head_commit.message, 'ci:bench')
      )

    permissions:
      actions: "read"
      checks: "write"
      contents: "write"
      pull-requests: "write"

    defaults:
      run:
        shell: bash

    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: "Setup: GraalVM"
        uses: graalvm/setup-graalvm@7f488cf82a3629ee755e4e97342c01d6bed318fa # v1.3.5
        if: ${{ matrix.engine == 'graalvm' }}
        with:
          distribution: "graalvm"
          java-version: ${{ matrix.java }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Setup: Zulu"
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        if: ${{ matrix.engine != 'graalvm' }}
        with:
          distribution: ${{ matrix.engine }}
          java-version: ${{ matrix.java }}
      - name: "Setup: Node"
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 23
      - name: "Setup: Yarn"
        run: yarn
      - name: "Run Benchmarks"
        uses: gradle/actions/setup-gradle@ed408507eac070d1f99cc633dbcf757c94c7933a # v4.4.3
        id: gradlebench
        continue-on-error: ${{ matrix.experimental }}
        env:
          CI: true
        with:
          cache-read-only: true
          cache-encryption-key: ${{ secrets.GRADLE_CONFIGURATION_KEY }}
          arguments: |
            :benchmarks:core:benchmark
            :benchmarks:graalvm:benchmark
            :benchmarks:server:benchmark
            --no-daemon
            --warning-mode=none
            --dependency-verification=lenient
            -Pelide.ci=true
            -PbuildBenchmarks=true
            -PbuildSamples=false
            -PbuildDocs=false
            -Pversions.java.language=${{ matrix.java }}
      - name: "Locate Benchmark Report"
        id: benchreport
        run: |
          echo "BENCHMARK_REPORT=$(find benchmarks/server/build/reports/benchmarks/main -name "*.json" | head -n 1)" >> $GITHUB_OUTPUT
      - name: "Restore Previous Benchmark"
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v3
        with:
          path: ./benchmark_reports
          key: ${{ runner.os }}-${{ matrix.engine }}-${{ matrix.java }}-benchmark
      - name: "Upload Benchmark Report"
        uses: benchmark-action/github-action-benchmark@d48d326b4ca9ba73ca0cd0d59f108f9e02a381c7 # v1.20.4
        continue-on-error: true
        with:
          name: "Elide: Server (${{ matrix.os }}, ${{ matrix.engine }}, JDK ${{ matrix.java }})"
          tool: "jmh"
          auto-push: false
          external-data-json-path: benchmark_reports/benchmark-data.json
          comment-on-alert: true
          comment-always: ${{ !matrix.experimental }}
          output-file-path: ${{ steps.benchreport.outputs.BENCHMARK_REPORT }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-alert: ${{ !matrix.experimental }}
