name: job.deploy-plugins.yml
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  publish-intellij:
    name: "Publish Elide Intellij plugin"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: "Setup: Harden Runner"
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: "Setup: Checkout"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: "Setup: GraalVM"
        uses: graalvm/setup-graalvm@eec48106e0bf45f2976c2ff0c3e22395cced8243 # v1.4.2
        with:
          distribution: "graalvm"
          java-version: "25"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build Intellij plugin"
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with: :packages:plugin-idea:buildPlugin
      - name: "Read version"
        run: |
          echo "ELIDE_IDEA_PLUGIN_VERSION=$(cat ./packages/plugin-idea/.version)" >> $GITHUB_ENV
          echo "Releasing version $ELIDE_IDEA_PLUGIN_VERSION"
      - name: "Upload Intellij plugin archive"
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: |
            r2 object put elide-plugins/intellij/elide-intellij-${{ env.ELIDE_IDEA_PLUGIN_VERSION }}.zip
            --file=./packages/plugin-idea/build/distributions/plugin-idea-${{ env.ELIDE_IDEA_PLUGIN_VERSION }}.zip

