name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - v3
      - stable
      - "releases/*"

jobs:
  qodana:
    name: "Scan"
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: "Qodana Scan"
        uses: JetBrains/qodana-action@v2022.2.2
      - uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
