name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - v3
      - stable
      - "releases/*"

jobs:
  qodana:
    name: "Scan"
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - name: "Setup: Checkout"
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
      - name: "Setup: GraalVM"
        uses: graalvm/setup-graalvm@2a93b69fdf86ac5a078a98c1a707744632e1da94 # v1.1.5
        with:
          components: "native-image,js,wasm"
          distribution: 'graalvm'
          java-version: 20
          check-for-updates: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Check: Qodana Scan"
        uses: JetBrains/qodana-action@32c3156f63f31a54dece4ce3e32dbb767c38bb61 # main
        env:
          GRADLE_ARGS: -PstrictMode=false -PbuildDocs=false -PbuildSamples=false
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
          BUILDLESS_APIKEY: ${{ secrets.BUILDLESS_APIKEY }}
      - name: "Report: SARIF Upload"
        uses: github/codeql-action/upload-sarif@ddccb873888234080b77e9bc2d4764d5ccaaccf9 # v2.21.9
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
