name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - v3
      - stable
      - "releases/*"

jobs:
  qodana:
    name: "Scan"
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit

      - name: "Setup: Checkout"
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          fetch-depth: 0
      - name: "Setup: GraalVM"
        uses: graalvm/setup-graalvm@0a27862568a8481fbfd3e2ce38c6445e34c0bed4 # v1.1.4
        with:
          components: "native-image,js,wasm"
          distribution: 'graalvm'
          java-version: 20
          check-for-updates: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Check: Qodana Scan"
        uses: JetBrains/qodana-action@32c3156f63f31a54dece4ce3e32dbb767c38bb61 # main
        env:
          GRADLE_ARGS: -PstrictMode=false -PbuildDocs=false -PbuildSamples=false
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
          BUILDLESS_APIKEY: ${{ secrets.BUILDLESS_APIKEY }}
      - name: "Report: SARIF Upload"
        uses: github/codeql-action/upload-sarif@407ffafae6a767df3e0230c3df91b6443ae8df75 # v2.22.8
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
